[user]
	email = or.keren@checkmarx.com
	name = Or Keren

[alias]
	co	= checkout
	coa	= !git add -A && git commit -m
	coap	= "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	st	= status
	cm	= commit -m
	c	= commit
	branches	= branch -a
	tags	= tag
	stashes	= stash list
	unstage	= reset -q HEAD --
	discard	= checkout --
	uncommit	= reset --mixed HEAD~
	amend	= commit --amend
	nevermind	= !git reset --hard HEAD && git clean -d -f
	graph	= log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	precommit	= diff --cached --diff-algorithm=minimal -w
	unmerged	= diff --name-only --diff-filter=U
	remotes	= remote -v
	la	= "!git config -l | grep alias | cut -c 7-"
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ec = commit --allow-empty -m \"empty commit to trigger something\"
	nccommit = commit -a --allow-empty-message -m \"\"
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
